<a href="https://colab.research.google.com/github/AlejandroAntonioMataLozano/Notebook/blob/main/Tipos_de_datos_Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Int

In [12]:
x = 129302930910
print (x)

129302930910

Float

In [13]:
Y = 3.14159265358979
print (y)

10

bool

In [17]:
TeamoAndy = True
print(TeamoAndy)

True

str

In [21]:
s = "supercalifragilisticoexpialidocious"
print(s)
print(s[3])

supercalifragilisticoexpialidocious
e

List

In [28]:
nums = [4,5,6]
print(nums)
nums[0] = 99
print(nums)
nums[2] = 999
print (nums)

[4, 5, 6]
[99, 5, 6]
[99, 5, 999]

tuple

In [33]:
coords = (123,123)
print(coords)
print(coords[1])

(123, 123)
123

set

In [37]:
Frutas = ("Pera", "Cebolla", "Tomate",)
print(Frutas)
print(Frutas[1])

('Pera', 'Cebolla', 'Tomate')
Cebolla

dict

In [54]:
alumno = {"nombre":"ximena","alumnos":["andy","maziel","ariel","fanny"]}
print(alumno)
print(alumno["alumnos"][1])
print(alumno["alumnos"][2])

{'nombre': 'ximena', 'alumnos': ['andy', 'maziel', 'ariel', 'fanny']}
maziel
ariel